@import "../../_variables/variables";

main.first-launch {
  @extend .d-flex, .mt-4, .flex-wrap;

  section.header {
    span {
      font-size: 24px;
    }
  }

  section.modes {
    @extend .d-flex, .mt-3;

    div.mode {
      @extend .d-flex, .justify-content-center, .flex-wrap, .py-3;
      width: calc(100% / 3);

      span {
        @extend .w-100, .mb-3, .text-center;
      }

      span.title {
        font-size: 20px;
      }

      button {
        @extend .btn, .btn-primary, .mt-3;
      }

      &:not(:last-of-type) {
        border-right: 1px solid lightgrey;
      }
    }
  }
}
