@import "./_variables/variables";

main.app {
  @extend .d-flex, .justify-content-center, .mt-2;

  section.header {
    flex-basis: 100%;

    h1 {
      position: relative;
      font-size: 20pt;
      text-align: center;
    }
  }
}
